# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
web-build/

# Python / Backend
venv/
__pycache__/
*.pyc
*.db

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# iOS
ios/Pods/
ios/build/

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
